<div class="container">
  <div class="content">
    <p class="text">O que você achou da experiência dessa página?</p>
    <form id="form-radio" class="container-radio">
      <div class="content-radio">
        <div class="radio">
          <label class="radio-label" for="r1">1</label>
          <input
            class="radio-input"
            id="r1"
            type="radio"
            name="radio"
            value="1"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r2">2</label>
          <input
            class="radio-input"
            id="r2"
            type="radio"
            name="radio"
            value="2"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r3">3</label>
          <input
            class="radio-input"
            id="r3"
            type="radio"
            name="radio"
            value="3"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r4">4</label>
          <input
            class="radio-input"
            id="r4"
            type="radio"
            name="radio"
            value="4"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r5">5</label>
          <input
            class="radio-input"
            id="r5"
            type="radio"
            name="radio"
            value="5"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r6">6</label>
          <input
            class="radio-input"
            id="r6"
            type="radio"
            name="radio"
            value="6"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r7">7</label>
          <input
            class="radio-input"
            id="r7"
            type="radio"
            name="radio"
            value="7"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r8">8</label>
          <input
            class="radio-input"
            id="r8"
            type="radio"
            name="radio"
            value="8"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r9">9</label>
          <input
            class="radio-input"
            id="r9"
            type="radio"
            name="radio"
            value="9"
          />
        </div>

        <div class="radio">
          <label class="radio-label" for="r10">10</label>
          <input
            class="radio-input"
            id="r10"
            type="radio"
            name="radio"
            value="10"
          />
        </div>
      </div>

      <button class="button" type="submit" id="button">Enviar</button>
    </form>
  </div>
</div>
